<h1>Listado domicilios</h1>
<div class="container">
<table class="table table-condensed">
  <tr>
    <th>Cp</th>
    <th>Localidad</th>
    <th>Domicilio</th>
    <th>Telefono</th>
    <th>Tipo</th>
    <th>Notas</th>
    <th>Profesional</th>
    <th>Mostar</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

<% @domicilios.each do |domicilio| %>
  <tr>
    <td><%= domicilio.cp %></td>
    <td><%= domicilio.localidad %></td>
    <td><%= domicilio.domicilio %></td>
    <td><%= domicilio.telefono %></td>
    <td><%= domicilio.tipo %></td>
    <td><%= domicilio.notas %></td>
    <td><%= domicilio.profesional_id %></td>
    <td><%= link_to 'Mostrar', domicilio %></td>
    <td><%= link_to 'Modificar', edit_domicilio_path(domicilio) %></td>
    <td><%= link_to 'Eliminar', domicilio, method: :delete, data: { confirm: 'Está seguro?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Agregar Domicilio', new_domicilio_path %>
