<h1>Listing domicilios</h1>
<div class="container">
<table class="table table-condensed">
  <tr>
    <th>Cp</th>
    <th>Localidad</th>
    <th>Domicilio</th>
    <th>Telefono</th>
    <th>Tipo</th>
    <th>Notas</th>
    <th>Profesional</th>
    <th>acción1</th>
    <th>acción2</th>
    <th>acción3</th>
  </tr>

<% @domicilios.each do |domicilio| %>
  <tr>
    <td><%= domicilio.cp %></td>
    <td><%= domicilio.localidad %></td>
    <td><%= domicilio.domicilio %></td>
    <td><%= domicilio.telefono %></td>
    <td><%= domicilio.tipo %></td>
    <td><%= domicilio.notas %></td>
    <td><%= domicilio.profesional_id %></td>
    <td><%= link_to 'Show', domicilio %></td>
    <td><%= link_to 'Edit', edit_domicilio_path(domicilio) %></td>
    <td><%= link_to 'Destroy', domicilio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Domicilio', new_domicilio_path %>
