<p id="notice"><%= notice %></p>

<p>
  <b>Cp:</b>
  <%= @domicilio.cp %>
</p>

<p>
  <b>Localidad:</b>
  <%= @domicilio.localidad %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @domicilio.domicilio %>
</p>

<p>
  <b>Telefono:</b>
  <%= @domicilio.telefono %>
</p>

<p>
  <b>Tipo:</b>
  <%= @domicilio.tipo %>
</p>

<p>
  <b>Notas:</b>
  <%= @domicilio.notas %>
</p>

<p>
  <b>Profesional:</b>
  <%= @domicilio.profesional_id %>
</p>


<%= link_to 'Edit', edit_domicilio_path(@domicilio) %> |
<%= link_to 'Back', domicilios_path %>
