<%= render 'search/buscador' %>

<h1>Resultados de la búsqueda</h1>
<%= "buscando #{params[:termino_buscado]}..." %>
<table class="table table-condensed">
  <tr>
    <th>Apellido y Nombres</th>
    <th>Localidad</th>
    <th>Documento</th>
    <th>Matrícula</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @result.each do |profesional| %>
  <tr>
    <td><%= "#{profesional.apellido}, #{profesional.nombres}" %></td>
    <td><%= link_to "#{profesional.domicilios.first.localidad}", profesional_show_domicilios_path(profesional) %>
    <td><%= "#{profesional.tipo_doc} #{profesional.nro_doc}" %></td>
    <td><%= link_to "#{profesional.matricula.matricula}", matricula_path(profesional.matricula) %>
    <td>
      <%= link_to profesional_path(profesional) do %>
        <%= fa_icon "search" %>
      <% end %>
    </td>
    <td>
      <%= link_to edit_profesional_path(profesional) do %>
        <%= fa_icon "pencil" %>
      <% end %>
    </td>
    <td>
      <%= link_to profesional_path(profesional), method: :delete, data: { confirm: 'Está seguro?' } do %>
        <%= fa_icon "trash-o" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
