<%= form_for [@pago.profesional, @pago] do |f| %>

  <% if pago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pago.errors.count, "error") %> prohibited this pago from being saved:</h2>
      <ul>
      <% pago.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :profesional_id %>

  <%= f.label :nro_recibo %>
  <%= f.text_field :nro_recibo, class: 'form-control' %>

  <%= f.label :monto_abonado %>

  <%= f.number_field :monto_abonado, class: 'form-control' %>

  <%= f.label :fecha_pago %>
  <%= f.date_field :fecha_pago, value: Date.today.strftime("%Y-%m-%d"), class: 'form-control'%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
