<div class='profesional-header'>
  <p class='bg-info text-white'><%= @profesional.apellido.downcase %>&ensp;<%= @profesional.nombres.downcase %></p>
</div>
</br>

</br>

<h3>Pagos realizados</h3>
<table class='table table-condensed'>

  <tr>
    <th>Nro recibo</th>
    <th>Cuota/Año</th>
    <th>Concepto</th>
    <th>Monto</th>
    <th>Fecha</th>
    <th>Estado</th>


    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pagos.each do |pago| %>
  <tr>
    <td><%= pago.nro_recibo %></td>
    <td><%= pago.cuota_anio %></td>
    <td><%= pago.concepto %></td>
    <td><%= number_to_currency(pago.monto_abonado) %></td>
    <td><%= pago.fecha_pago %></td>
    <td><%= pago.status %></td>

    <td><%= link_to profesional_pago_path(pago.profesional, pago) do %>
      <%= fa_icon "search" %>
      <% end %>
    </td>
    <% if current_user.admin?%>
      <td>
        <%= link_to edit_profesional_pago_path(pago.profesional, pago) do%>
        <%= fa_icon "pencil" %>
        <% end %>
      </td>
      <td>
        <%= link_to profesional_pago_path(pago.profesional, pago), method: :delete, data: { confirm: "¿Está seguro que desea eliminar el pago: #{pago.nro_recibo}?"} do %>
        <%= fa_icon "trash-o" %>
        <% end %>
      </td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</tbody>

</table>
<br>

<%= link_to 'Nuevo Pago', new_profesional_pago_path(@profesional), class:'btn btn-primary' %>
