<div class='profesional-header'>
  <p class='bg-info text-white'><%= @profesional.apellido.downcase %>&ensp;<%= @profesional.nombres.downcase %></p>
</div>
</br>
<%= link_to "export to xlsx", profesional_pagos_path( format: "xlsx" ) %>
<h3>Pagos realizados</h3>
<table class='table table-condensed'>

  <tr>
    <th>Nro recibo</th>
    <th>Cuota/Año</th>
    <th>Concepto</th>
    <th>Monto</th>
    <th>Fecha</th>

    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pagos.each do |pago| %>
  <tr>
    <td><%= pago.nro_recibo %></td>
    <td><%= pago.cuota_anio %></td>
    <td><%= pago.concepto %></td>
    <td><%= number_to_currency(pago.monto_abonado) %></td>
    <td><%= pago.fecha_pago %></td>
    <td><%= link_to profesional_pago_path(pago.profesional, pago) do %>
      <%= fa_icon "search" %>
      <% end %>
    </td>
    <td>
      <%= link_to edit_profesional_pago_path(pago.profesional, pago) do%>
      <%= fa_icon "pencil" %></td>
      <% end %>
    </td>
    <td>
      <%= link_to profesional_pago_path(pago.profesional, pago), method: :delete, data: { confirm: "¿Está seguro que desea eliminar el pago: #{pago.nro_recibo}?"} do %>
      <%= fa_icon "trash-o" %></td>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>

</table>
<br>

<%= link_to 'Nuevo Pago', new_profesional_pago_path(@profesional), class:'btn btn-primary' %>
