<div class='profesional-header'>
  <p class='bg-danger'><%= @profesional.apellido.downcase %>&ensp;<%= @profesional.nombres.downcase %></p>
</div>

<p>
  <strong>Monto:</strong>
  <%= @pago.monto_abonado %>
</p>

<h2><%= @pago.fecha_pago %></h2>
<h2><%= @profesional.apellido%></h2>
<h2><%= @pago.nro_recibo %></h2>

<%= link_to 'Editar', edit_profesional_pago_path(@pago.profesional, @pago) %>
|
<%= link_to 'Atras', profesional_pagos_path(@pago.profesional) %>
