<%= form_for(@matricula) do |f| %>
  <% if @matricula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matricula.errors.count, "error") %> prohibited this matricula from being saved:</h2>

      <ul>
      <% @matricula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :matricula %><br />
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :fecha_inscripcion %><br />
    <%= f.date_select :fecha_inscripcion, include_blank: true, start_year:1950, end_year: 2020 %>
  </div>
  <div class="field">
    <%= f.label :libro %><br />
    <%= f.text_field :libro %>
  </div>
  <div class="field">
    <%= f.label :folio %><br />
    <%= f.number_field :folio %>
  </div>
  <div class="field">
    <%= f.label :fecha_habilitacion %><br />
    <%= f.date_select :fecha_habilitacion, include_blank: true, start_year:1950, end_year: 2020 %>
  </div>
  <div class="field">
    <%= f.label :nota_fecha_habilitacion %><br />
    <%= f.text_field :nota_fecha_habilitacion %>
  </div>
  <div class="field">
    <%= f.label :vencimiento %><br />
    <%= f.number_field :vencimiento %>
  </div>
  <div class="field">
    <%= f.label :especialidad %><br />
    <%= f.text_field :especialidad %>
  </div>
  <div class="field">
    <%= f.label :fecha_vencimiento %><br />
    <%= f.date_select :fecha_vencimiento, include_blank: true, start_year:1950, end_year: 2020 %>
  </div>
  <div class="field">
    <%= f.label :profesional_id %><br />
    <%= f.number_field :profesional_id %>
  </div>
  <div class="field">
    <%= f.label :notas %><br />
    <%= f.text_field :notas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
