<%= form_tag(search_index_path, method: :get) do %>
  <%= text_field_tag :termino_buscado, params[:termino_buscado] %>
  <%= submit_tag 'Buscar', name: nil  %>
  <label class="checkbox">
    <%= check_box_tag 'nombre' %>Apellido y nombre
  </label>
  <label class="checkbox">
    <%= check_box_tag 'documento' %>Documento
  </label>
  <label class="checkbox">
    <%= check_box_tag 'matricula' %>Matrícula
  </label>
<% end %>
