<%= form_for(@profesional) do |f| %>
  <% if @profesional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profesional.errors.count, "error") %> prohibited this profesional from being saved:</h2>

      <ul>
      <% @profesional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :nombres %><br />
    <%= f.text_field :nombres %>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_select :fecha_nacimiento, include_blank: true, start_year:1900, end_year: 2000 %>
  </div>
  <div class="field">
    <%= f.label :tipo_doc %><br />
    <%= f.text_field :tipo_doc %>
  </div>
  <div class="field">
    <%= f.label :nro_doc %><br />
    <%= f.number_field :nro_doc %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
