<%= form_for(@profesional) do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <h2>Datos Personales</h2>
      <div class="field">
        <%= f.label :apellido %><br />
        <%= f.text_field :apellido %>
      </div>
      <div class="field">
        <%= f.label :nombres %><br />
        <%= f.text_field :nombres %>
      </div>

      <div class="field">
        <%= f.label :fecha_nacimiento %><br />
        <%= datepicker_field(f, :fecha_nacimiento) %>
      </div>


      <div class="field">
        <%= f.label :tipo_doc %><br />
        <%= f.text_field :tipo_doc %>
      </div>
      <div class="field">
        <%= f.label :nro_doc %><br />
        <%= f.number_field :nro_doc %>
      </div>
      <hr>
    </div>

    <div class="col-sm-4">
      <h2>Matricula Registrada</h2>
      <%= f.fields_for :matricula do |ff| %>
        <div class="field">
          <%= ff.label :estado %><br />
          <%= ff.text_field :estado %>
        </div>
        <div class="field">
          <%= ff.label :matricula %><br />
          <%= ff.text_field :matricula %>
        </div>
        <div class="field">
          <%= ff.label :fecha_inscripcion %><br />
          <%= datepicker_field(ff, :fecha_inscripcion) %>
        </div>

        <div class="field">
          <%= ff.label :libro %><br />
          <%= ff.text_field :libro %>
        </div>
        <div class="field">
          <%= ff.label :folio %><br />
          <%= ff.number_field :folio %>
        </div>
        <div class="field">
          <%= ff.label :fecha_habilitacion %><br />
          <%= datepicker_field(ff, :fecha_habilitacion) %>
        </div>

        <div class="field">
          <%= ff.label :nota_fecha_habilitacion %><br />
          <%= ff.text_field :nota_fecha_habilitacion %>
        </div>
        <div class="field">
          <%= ff.label :vencimiento %><br />
          <%= ff.number_field :vencimiento %>
        </div>
        <div class="field">
          <%= ff.label :especialidad %><br />
          <%= ff.text_field :especialidad %>
        </div>
        <div class="field">
          <%= ff.label :fecha_vencimiento %><br />
          <%= datepicker_field(ff, :fecha_vencimiento) %>
        </div>
        <div class="field">
          <%= ff.label :notas %><br />
          <%= ff.text_area :notas %>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-sm-4">
      <h2>Domicilios Registrados</h2>
      <%= f.fields_for :domicilios do |ff| %>
        <div class="field">
          <%= ff.label :cp %><br />
          <%= ff.text_field :cp %>
        </div>
        <div class="field">
          <%= ff.label :localidad %><br />
          <%= ff.text_field :localidad %>
        </div>
        <div class="field">
          <%= ff.label :domicilio %><br />
          <%= ff.text_field :domicilio %>
        </div>
        <div class="field">
          <%= ff.label :telefono %><br />
          <%= ff.text_field :telefono %>
        </div>
        <div class="field">
          <%= ff.label :tipo %><br />
          <%= ff.text_field :tipo %>
        </div>
        <div class="field">
          <%= ff.label :notas %><br />
          <%= ff.text_area :notas %>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
