<h1>Listing profesionales</h1>

<table class="table table-condensed">
  <tr>
    <th>Apellido</th>
    <th>Nombres</th>
    <th>Fecha nacimiento</th>
    <th>Tipo doc</th>
    <th>Nro doc</th>
    <th>Mostar</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

<% @profesionales.each do |profesional| %>
  <tr>
    <td><%= profesional.apellido %></td>
    <td><%= profesional.nombres %></td>
    <td><%= profesional.fecha_nacimiento %></td>
    <td><%= profesional.tipo_doc %></td>
    <td><%= profesional.nro_doc %></td>
    <td><%= link_to 'Show', profesional %></td>
    <td><%= link_to 'Edit', edit_profesional_path(profesional) %></td>
    <td><%= link_to 'Destroy', profesional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profesional', new_profesional_path %>
