<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>
      | Sistema de control- Colegio Odontologos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

  </head>
  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!--<div class="alert alert-<%#= message_type %>"><%#= message %></div-->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <h1>Reporte de Profesionales</h1>



      <table class="table table-condensed">
        <tr>
          <th>Apellido y Nombres</th>
          <th>Localidad</th>
          <th>Documento</th>
          <th>Matrícula</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <%= will_paginate @profesionales, :previous_label => t("Anterior"), :next_label => t("Siguiente") %>

        <% @profesionales.each do |profesional| %>
        <tr>
          <td><%= "#{profesional.apellido}, #{profesional.nombres}" %></td>
          <td><%= link_to "#{profesional.domicilios.first.localidad}", profesional_show_domicilios_path(profesional) %></td>
          <td><%= "#{profesional.tipo_doc} #{profesional.nro_doc}" %></td>
          <td><%= link_to "#{profesional.matricula.matricula}", matricula_path(profesional.matricula) %></td>
          <td>
            <%= link_to profesional_pagos_path(profesional) do %>
            <%= fa_icon "usd" %>
            <% end %>
          </td>
          <td>
            <%= link_to profesional_path(profesional) do %>
            <%= fa_icon "search" %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_profesional_path(profesional) do %>
            <%= fa_icon "pencil" %>
            <% end %>
          </td>

          <td>
            <%= link_to profesional_path(profesional), method: :delete, data: { confirm: "¿Está seguro que desea eliminar a: #{profesional.apellido} #{profesional.nombres}?\n Se eliminará toda la infomación relacionada a este profesional" } do %>
            <%= fa_icon "trash-o" %>
            <% end %>
          </td>
        </tr>

        <% end %>
      </table>
      <%= will_paginate @profesionales, :previous_label => t("Anterior"), :next_label => t("Siguiente") %>

      <br/>

      <%= link_to 'Exportar Todo a Excel', search_index_path(params.permit!.merge(:format => "csv")) %>
      <br/>
      s
      <%= render_report 'profesional_table' %>
      <%= render 'layouts/footer' %>
      <!-- <%= debug(params) if Rails.env.development? %> -->
      <%= link_to "Export users as spreadsheet", profesionales_path(format: "xlsx") %>
    </div>
  </body
