<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>
      | Sistema de control- Colegio Odontologos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

  </head>
  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!--<div class="alert alert-<%#= message_type %>"><%#= message %></div-->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <h1>Reporte de Profesionales</h1>
      <table class="table table-condensed">
        <tr>
          <th>Apellido y Nombres</th>

          <th>Documento</th>
          <th>Nro. Matrícula</th>

          <th>Tomo/folio</th>
          <th>F. insc.</th>
          <th>F. hab.</th>
          <th>F. venc.</th>
          <th>Localidad</th>
          <th>Domic. prof.</th>
          <th>Estado</th>

        </tr>

        <% @profesionales.sort_by do |profesional| %>

        <tr>
          <td><%= "#{profesional.apellido}, #{profesional.nombres}" %></td>
          <td><%= "#{profesional.tipo_doc} #{profesional.nro_doc}" %></td>
          <td><%= "#{profesional.matricula.matricula}"%></td>
          <td><%= "#{profesional.matricula.libro}-#{profesional.matricula.folio}"%></td>
          <td><%= "#{profesional.matricula.fecha_inscripcion}"%></td>
          <td><%= "#{profesional.matricula.fecha_habilitacion}"%></td>
          <td><%= "#{profesional.matricula.fecha_vencimiento}"%></td>
          <td><%= "#{profesional.domicilios.first.localidad}" %></td>
          <td><%= "#{profesional.domicilios.first.domicilio}" %></td>
          <% if profesional.matricula.estado=="0" %>
                 <td> <%= "Cancelo" %> </td>
          <% else %>
                 <td> <%= "Vigente" %> </td>
          <% end %>
        </tr>

        <% end %>
      </table>
      <br>

      <%= link_to "Exportar a Excel", profesionales_reporte_path(format: "xlsx"), class:'btn btn-success' %>
      <br>
      <br>

    </div>

  </body>
</html>
